@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

:root{
    --Purple-100: hsl(254, 88%, 90%);
    --Purple-500: hsl(256, 67%, 59%);
    --Yellow-100: hsl(31, 66%, 93%);
    --Yellow-500: hsl(39, 100%, 71%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 7%);

    --radius: 1rem;
    --gap: 1rem;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Comfortaa', sans-serif;
    background-color: #eee;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
h2,h1{
    font-weight: 700;
    letter-spacing: -3px;
    text-align: left;
}
h1 { font-size: 3rem; }
h2 { font-size: 2.2rem; }

/* ===================
    layout
=================== */
main{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: var(--gap);
    padding: var(--gap);
}
.bento-grid{
    display: grid;
    grid-template-columns:  .8fr 1fr 1fr .8fr;
    grid-template-rows:1fr 0.5fr 0.5fr 1fr;
    grid-template-areas:
        "quicker  header     header     social"
        "quicker  platforms  schedule   social"
        "ai  platforms  schedule   social"
        "ai       growth     followers  followers";
}
/* =====================
    Card Base
   ===================== */
.card{
    border-radius: var(--radius);
    padding: 10px;
    margin: var(--gap);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
/* =====================
    Individual Cards
   ===================== */

/* Header */
.card--header{
    grid-area:header ;
    background-color: var(--Purple-500);
    color: var(--White);
    padding: 2rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card--header h1 ,
.card--header span ,
.card--header i{
    font-size: 3rem;
    margin: 0.5rem;
}
.card--header span{
    color: var(--Yellow-500);
}
.card--header p{
    font-weight: 100;
    font-size: .8rem;
}
.card--header img{
    width: 40%;
}

/* Platforms */
.card--Platforms{
    grid-area: platforms;
    background-color: var(--White);
    text-align: left;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
    padding: 1.5rem;
}
.card--Platforms img{
    width: 100%;
    align-self: flex-start;
}
.card--Platforms h2{
    margin-top: auto;
    padding-top: 1rem;
}

/* Schedule */
.card--schedule{
    grid-area: schedule;
    background-color: var(--Yellow-500);
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    padding: 1.5rem 1.5rem 0;
    position: relative;
}
.card--schedule h2{
    margin-bottom: 1rem;
}
.card--schedule img{
    width: 90%;
    align-self: center;
    position: absolute;
    bottom: 0;
    right: 50%;
    translate: 50% 50%;
}

/* Social Media */
.card--social-media{
    grid-area: social;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    padding: 1.5rem;
    background-color: var(--Purple-100);
    position: relative;
}
.card--social-media h2{
    padding-left:  1rem;
    letter-spacing: -2px;
}
.card--social-media p{
    margin-bottom: 1rem;
    text-align: left;
    font-weight: 500;
    position: absolute;
    bottom: 7%;
}
.card--social-media img{
    width: 100%;
    position: absolute;
    bottom: 50%;
    right: 80px;
    translate: 50% 50%;
}

/* Followers */
.card--followers{
    grid-area: followers;
    background-color: var(--Purple-500);
    color: var(--White);
    flex-direction: row;
    margin: 1.3rem;
    padding: 2rem;
    height: fit-content;
}
.card--followers img{
    width: 40%;
    margin: 0 2rem 0 1rem;
}

/* Growth */
.card--growth{
    grid-area: growth;
    background-color: var(--White);
    padding: 1.5rem;
    height: fit-content;
    align-items: flex-start;
}
.card--growth h2{
    font-size: 3rem;
}
.card--growth img{
    width: 70%;
}
.card--growth p{
    margin: 2rem 0;
    text-align: left;
    font-weight: 500;
}

/* Quicker */
.card--quicker{
    grid-area: quicker;
    justify-content: flex-start;
    padding: 3rem;
    background-color: var(--Yellow-100);
}
.card--quicker span{
    color: var(--Purple-500);
}
.card--quicker img{
    width: 80%;
}


/* AI */
.card--ai{
    grid-area:ai ;
    overflow: hidden;
    padding: 1.5rem 1.5rem 0;
    background-color: var(--Yellow-500);
    justify-content: flex-end;
}
.card--ai h2 {
    align-self: flex-start;
    margin-bottom: 1rem;
}
.card--ai img{
    width: 100%;
    margin-bottom: 1rem;
}

/* ===========
    Footer
============= */
footer{
    color: var(--Purple-500);
    padding: 1rem;
    background-color: var(--White);
    border-radius: var(--radius);
    text-align: center;
}
footer a{
    text-decoration: none;
    color: var(--Yellow-500);
    font-weight: 500;
}

/* =====================
    Mobile (max-width: 600px)
   ===================== */
@media (max-width: 600px) {
    .bento-grid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8,auto);
        grid-template-areas: 
        'header'
        'platforms'
        'schedule'
        'social'
        'followers'
        'growth'
        'quicker'
        'ai';
        gap: 2rem;
        margin: 0;
        padding: 0;
    }
    h2{
        font-size: 1.5rem;
        letter-spacing: -2px;
    }

     /* Reset all cards for mobile */
    .card--card{
        margin: 0;
        padding: 0;
        width: 100%;
        height: min-content;
        gap: 0;
    }
    img{
        width: 100%;
        padding: 1rem;
        margin: 1rem;
        position: static;
    }

    /* header */
    .card--header h1 ,
    .card--header span ,
    .card--header i{
        font-size: 2rem;
        line-height: 3rem;
        letter-spacing: -2px;
        padding: 0.6rem;
        margin: 0;
    }
    .card--header p{
    margin: 0 0 1rem ;
    }
    .card--header img{
        width: 60%;
        padding: 10px;
        margin: 0;
    }

    /* Platforms */
    .card--Platforms{
        padding: 0;
    }
    .card--Platforms img{
        width: 100%;
        position: relative;
        top: auto;
        left: auto;
        padding: 0;
        margin: 0;
    }
    .card--Platforms h2 {
        margin: 0;
        padding: 0;
    }
    /* Schedule */
    .card--schedule{
        align-items: flex-start;
        padding-right: 3rem;
        text-align: left; 
    }
    .card--schedule img{
        width: 100%;
        position: relative;
        right: auto;
        bottom: auto;
        translate: none;
        padding: 0;
        margin: 0;
    }

    /* social media */
    .card--social-media img{
        width: 100%;
        position: static;
        translate: none;
        padding: 1rem;
        margin: 1rem;
}
    .card--social-media p{
        position: static;
        margin: 0;
        padding: 0;
}

/* Followers */
    .card--followers{
        flex-direction: column;
        padding: 1rem;
    }
    .card--followers img{
        width: 90%;
        margin: auto;
    }

/* Growth */
    .card--growth{
        padding: 0 1rem;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
    }
    .card--growth p , 
    .card--growth img , 
    .card--growth h2{
        margin:  0;
    }

  /* Quicker & AI */
    .card--quicker , 
    .card--ai{
        margin: 0;
        padding: 1rem;
}
    .card--quicker h2,
    .card--ai h2,
    .card--quicker img,
    .card--ai img{
        margin: 0;
        padding: 0;
}
}
