@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

:root{
    --Purple-100: hsl(254, 88%, 90%);
    --Purple-500: hsl(256, 67%, 59%);

    --Yellow-100: hsl(31, 66%, 93%);
    --Yellow-500: hsl(39, 100%, 71%);

    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 7%);
}
*{
    box-sizing: border-box;
    font-family:Comfortaa,'Inter', sans-serif;
    padding: 0;
}
body{
    text-align: center;
    height: 100vh;
    background-color: #eee;
}
section{
    display: grid;
    grid-template-areas:
                'Q H H time'            
                'Q acc post time'            
                'Ai acc post time'            
                'Ai G follow follow';
    gap: 1.5rem;
    padding: 3rem;
}
img{
    width: 50%;
    height:30%;
    margin: 1rem 0;
}
.header{
    grid-area: H ;
    background-color: var(--Purple-500);
    color: var(--White);
    -o-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
}
.header h1 , .header span ,.header em{
    font-size: 3rem;
    margin: 0.5rem;
    letter-spacing:-3px;
}
.header span{
    color: var(--Yellow-500);
}
.header p{
    margin-top: 0;
    font-weight: 100;
    font-size: .8rem;
}
.header img{
    width: 30%;
}
.accounts{
    grid-area: acc ;
    background-color: var(--White);
    overflow-x: hidden;
    text-align: left;
    -o-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: fit-content;
}
.accounts img{
    width: 100%;
    overflow: hidden;
}
.accounts h2{
    font-size: 2rem;
    font-weight: 700;
    padding: 0 3rem ;
    margin-top: 0;
}
.posting{
    grid-area: post ;
    background-color: var(--Yellow-500);
    -o-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
    justify-content: center;
    height: fit-content;
    height:82%;
}
.posting h2{
    font-size: 2rem;
    font-weight:700 ;
    padding: 0 2rem;
    text-align: left;
    margin-bottom: 0;
}
.posting img{
    translate: 0 3rem;
    margin-top: 0;
    width: 60%;
    overflow: hidden;
}
.timings{
    grid-area: time ;
    background-color: var(--Purple-100);
        -o-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.followers{
    grid-area: follow;
    background-color: var(--Purple-500);
    color: var(--White);
        -o-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.growth{
    grid-area: G ;
    background-color: var(--White);
        -o-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quicker{
    grid-area: Q;
    background-color: var(--Yellow-100);
    -o-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ai{
    grid-area: Ai;
    background-color: var(--Yellow-500);
    -o-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
footer{
    text-align: center;
    color: var(--Purple-500);
    font-size: 1rem;
    letter-spacing: 1px;
    margin: 1rem;
}
footer a{
    text-decoration: none;
    color: var(--Yellow-500);
    font-size: 1rem;
    letter-spacing: 1px;
}
