@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

:root{
    --Purple-100: hsl(254, 88%, 90%);
    --Purple-500: hsl(256, 67%, 59%);

    --Yellow-100: hsl(31, 66%, 93%);
    --Yellow-500: hsl(39, 100%, 71%);

    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 7%);
}
*{
    box-sizing: border-box;
    font-family:Comfortaa,'Inter', sans-serif;
    padding: 0;
}
body{
    text-align: center;
    background-color: #eee;
}
main{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 0.5fr 0.5fr 1fr;
    grid-template-areas:
        "quicker  header     header     social"
        "quicker  platforms  schedule   social"
        "ai  platforms  schedule   social"
        "ai       growth     followers  followers";
}
img{
    width: 50%;
    height:30%;
}
.card{
        -o-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    border-radius: 1rem;
    padding: 10px;
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
h2,h1{
    letter-spacing: -3px;
    font-size: 2.2rem;
    font-weight:700 ;
    text-align: left;
}
.header{
    grid-area:header ;
    background-color: var(--Purple-500);
    color: var(--White);
    padding: 2rem;
        margin: 2rem;
}
.header h1 , .header span ,.header em{
    font-size: 3rem;
    margin: 0.5rem;
}
.header span{
    color: var(--Yellow-500);
}
.header p{
    margin-top: 0;
    font-weight: 100;
    font-size: .8rem;
}
.header img{
    width: 40%;
    height: 13%;
}
.Platforms{
    grid-area:platforms;
    background-color: var(--White);
    overflow: hidden;
    text-align: left;
    justify-content: flex-end;
    margin: 1rem;
    position: relative;
}
.Platforms img{
    width: 88%;
    height: 23%;
    overflow: hidden;
    position: absolute;
    top: 0.5rem;
    left: 2rem;
}
.Platforms h2{
    padding: 0 3rem ;
    margin-top:5rem;
}
.schedule{
    grid-area: schedule;
    background-color: var(--Yellow-500);
    overflow-y: hidden;
    position: relative;
    margin: 1rem ;
    padding: 1rem 0;
    justify-content: flex-start;
}
.schedule h2{
    padding: 0 2rem;
    margin-bottom: 0;
}
.schedule img{
    translate: 0 3.6rem;
    width: 65%;
    height: auto;
    position: absolute;
    bottom: 0; 
}
.social-media{
    grid-area: social;
    background-color: var(--Purple-100);
    margin: 1rem;
    position: relative;
    overflow: hidden;
}
.social-media h2{
    padding-left:  1rem;
    text-align: left;
    margin-bottom: 0;
    letter-spacing: -2px;
}
.social-media p{
    padding:  0 3rem 0 3rem;
    text-align: left;
    font-weight: 500;
}
.social-media img{
    width: 100%;
    height:50%;
    translate: 5rem 11rem;
    position: absolute;
    bottom: 50%;
    right: 0;
}
.followers{
    grid-area: followers;
    background-color: var(--Purple-500);
    color: var(--White);
    flex-direction: row;
    margin: 1.3rem;
    padding: 2rem;
    height: fit-content;
}
.followers img{
    width: 40%;
    height: auto;
    margin: 0 2rem 0 1rem;
}
.growth{
    grid-area: growth;
    background-color: var(--White);
    margin: 1rem;
    padding: 1.5rem;
    height: fit-content;
    align-items: flex-start;
}
.growth img{
    width: 70%;
    height: auto;
}
.growth h2{
    margin: 1rem 0 0 0;
    text-align: left;
    font-size: 3rem;
}
.growth p{
    margin: 2rem 0;
    text-align: left;
    font-weight: 500;
}
.quicker{
    grid-area: quicker;
    justify-content: flex-start;
    margin: 1rem;
    padding: 3rem;
    background-color: var(--Yellow-100);
}
.quicker img{
    width: 80%;
    height: auto;
}
.quicker span{
    color: var(--Purple-500);
    font-weight: 700;
}
.ai{
    grid-area:ai ;
    margin: 2rem;
    padding: 0 2rem ;
    background-color: var(--Yellow-500);
}
.ai img{
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}
footer{
    text-align: center;
    color: var(--Purple-500);
    font-size: 1rem;
    letter-spacing: 1px;
    margin: 1rem;
    background-color: var(--Purple-100);
    padding: 1rem;
}
footer a{
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 1px;
}
@media (max-width: 600px) {
    section{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(8,auto);
        grid-template-areas: 
        'header'
        'platforms'
        'schedule'
        'social'
        'followers'
        'growth'
        'quicker'
        'ai';
        gap: 2rem;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    h1 {
        line-height: 3rem;
        letter-spacing: -2px;
        text-align: center;
        padding: 1rem;
    }
    h2{
        font-size: 1.5rem;
        letter-spacing: -2px;
    }
    .card{
        margin: 0;
        padding: 0;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: min-content;
        text-align: center;
    }
    img{
        width: 100%;
        height: auto;
        position: relative;
        padding: 1rem;
        margin: 1rem;
    }
    .Platforms img{
        width: 100%;
        height: auto;
        position: relative;
        padding: 0;
        margin: 0;
    }
    .Platforms{
        margin: 0;
        padding: 0;
    }
.social-media img{
        width: 100%;
        height: auto;
        position: relative;
        translate: 0 0;
        bottom: 0;
        right: 0;
        padding: 1rem;
        margin: 1rem;
}
}
